/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors
    Site background: #FAFAFF;
    Input background: #E4E4E4;
    Active input background: #EDF7F6;
    Text: #202030;
    Button: #B14AED;
*/

body {
    font-family: "Inter", sans-serif;
    padding: 5%;
    color: #202030;
    background-color: #FAFAFF;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 600px;
    padding: 0 5%;
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #F0F0FF;
    font-family: inherit;
    font-size: 1.1rem;
}

form input:focus, form textarea:focus {
    background-color: #e7e7ff;
}

textarea {
    min-height: 8rem;
    resize: vertical;
}

form label {
    display: block;
    margin: 0.75rem 0 0.1rem;
    color: #777;
}

form button {
    width: 100%;
    padding: 0.8rem 1.5rem;
    margin: 1rem 0;
    border: 1px solid #B14AED;
    border-radius: 5px;
    color: #fff;
    background-color: #B14AED;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form button:hover {
    color: #B14AED;
    background-color: #fff;
    border: 1px solid #B14AED;
    transition: .2s ease;
}