---
layout: default
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-1.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-2.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-1.jpg
  - column-size: col-12
    aspect-ratio: landscape-wide
    background_image: /images/the-sleep-co-3.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-4.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-3.jpg
---

<!--------------- Header section --------------->
<header class="grid tall-100 md-tall-80">
    {% include header-nav.html %}
    <div class="col-12 text-center">
        <h3 class="font-weight-extra-bold editable" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="1500"> 
            <span class="featured-text">Explore</span> our gallery
        </h3>
        <h1 class="font-weight-light editable" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
            The ultimate mattress solution
        </h1>
    </div>
</header>

<section class="padded">
    <div class="gallery grid">
        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}')"></div>
        </div>
        {% endfor %}
    </div>
</section>