---
layout: default
cards:
 - heading: Small Heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam vero, dolores qui inventore praesentium voluptatum quos dolore id fugit voluptas enim?
   featured_image: /images/the-sleep-co-2.jpg
 - heading: Small Heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam vero, dolores qui inventore praesentium voluptatum quos dolore id fugit voluptas enim?
   featured_image: /images/the-sleep-co-1.jpg
 - heading: Small Heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam vero, dolores qui inventore praesentium voluptatum quos dolore id fugit voluptas enim?
   featured_image: /images/the-sleep-co-3.jpg
---
    <!--------------- Header section --------------->
    <header class="grid tall-60">
        {% include header-nav.html %}
        <div class="col-12-middle text-center">
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text">Addictively</span> soft
            </h3>
            <h1 class="font-weight-light editable">
                You won't want to get out of bed
            </h1>
        </div>
    </header>

    <!--------------- Text grid sustainability --------------->
    <section class="padded grid bg-featured">
        <div class="padded-sm col-12 text-center">
            <h2><span class="white-text">Features</span> you will love</h2>
        </div>
        <div class="padded-sm col-3 editable">
            <h3>Little heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam vero, dolores qui inventore praesentium voluptatum quos dolore id fugit voluptas enim? Ipsa deserunt sapiente voluptates neque, esse molestiae impedit!</p>
        </div>
        <div class="padded-sm col-3 editable">
            <h3>Little heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto magnam recusandae voluptatum reprehenderit amet vel ea commodi consequatur obcaecati. Consectetur quod quas perspiciatis. Facilis aliquam eaque voluptates commodi possimus.</p>
        </div>
        <div class="padded-sm col-3 editable">
            <h3>Little heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolorem, consectetur sed perspiciatis molestiae soluta dolores fuga culpa ipsam laborum nesciunt sint repudiandae quis id tenetur, voluptate quia fugiat officiis.</p>
        </div>
        <div class="padded-sm col-3 editable">
            <h3>Little heading</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ullam porro accusantium ipsum, itaque molestiae fuga! Perspiciatis illo velit quisquam repellendus ea. Tempora sapiente quibusdam nisi accusantium labore assumenda laboriosam.</p>
        </div>
    </section>

    <!--------------- Cards --------------->
    <section class="grid padded">
        {% for item in page.cards %}
        <div class="col-4 padded-sm">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded-1">
                    <h3>{{item.heading}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

    <!--------------- Product Banner section --------------->
    <section class="padded bg-dark text-center tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text">
                <span class="small-text font-weight-normal">Spend over $150 and activate</span>
                <br /><span class="featured-text">free</span> express shipping
            </h3>
        </div>
    </section>

    <!--------------- Gallery section --------------->
    <section class="grid">
        <div class="padded col-6-middle">
            <h2 class="editable">
                Build to last a <span class="featured-text">lifetime</span>
            </h2>
            <p class="editable">
                Lorem ipsum dolor, sit amet <a href="#">novum legatum ad Germaniam misit</a>. Senatorem Quinctilius Publius Varus. Post hac, Roma tributa vostra non amplius esse remissura. Consectetur adipisicing elit. Consequatur cumque modi non quod deleniti a aspernatur minima veritatis ipsa obcaecati reprehendit.
            </p>
            <p class="editable">
                Tempore ad volumptatum temporibus iure dolorem provident necessitatibus ratione!
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!--------------- Background image: bed --------------->
        </div> 
        <div class="bg-image bg-pug col-6 tall-70">
            <!--------------- Background image: pug --------------->
        </div>
        <div class="padded col-6-middle editable">
            <h2>So <span class="featured-text">soft</span> you'll melt</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam repudiandae nemo voluptas vitae laudantium in, ipsam molestiae neque voluptatibus, repellendus minima, pariatur ea aperiam ab eius voluptates sed exercitationem atque!</p>
        </div>
        <div class="padded col-6-middle">
            <h2 class="editable">
                Build to last a <span class="featured-text">lifetime</span>
            </h2>
            <p class="editable">
                Lorem ipsum dolor, sit amet <a href="#">novum legatum ad Germaniam misit</a>. Senatorem Quinctilius Publius Varus. Post hac, Roma tributa vostra non amplius esse remissura. Consectetur adipisicing elit. Consequatur cumque modi non quod deleniti a aspernatur minima veritatis ipsa obcaecati reprehendit.
            </p>
            <p class="editable">
                Tempore ad volumptatum temporibus iure dolorem provident necessitatibus ratione!
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!--------------- Background image: bed --------------->
        </div> 
    </section>