* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary styles for structural recognition */
* {
    padding: 0.5rem;
    border: 1px solid rgb(240, 240, 240);
}

html {
    border: none;
}

body {
    border: none;
}

/* Image Styles */
.bg-image {
    background-image: url(/images/the-sleep-co-2.jpg);
    background-size: cover;
    min-height: 10rem;
}

/* Universal Styles & Utility Classes */

.padded {
    padding: 5%;
}

.padded-sm {
    padding: 1rem;
}

.bg-dark {
    background-color: #192b37;
    color: #fff;
}