<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Sleep Co Mattress Company</title>
    <!--------------- Fontawesome icons --------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--------------- Gridlex --------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />
    <!--------------- Google Fonts --------------->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&display=swap" rel="stylesheet" />
    <!--------------- Animate on Scroll --------------->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--------------- Light popup gallery ------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--------------- Custom stylesheet --------------->
    <link rel="stylesheet" href="style.css" />
</head>

<!-- This is the body, where all of our page content goes. -->
<body>

    {{ content }}

    <footer class="padded grid-spaceBetween bg-dark">
        <div class="col-4-bottom">
            <h2>Let's<br /> <span class="featured-text">connect</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt debitis dolore labore laudantium ratione nisi at quos aliquam quia, maxime totam delectus, praesentium, necessitatibus quis! Nam, quas reiciendis! Voluptatem, suscipit.</p>
        </div>
        <div class="col-5-middle">
            <p><strong>Call:</strong> <a href="tel:#">04555 5555</a></p>
            <p><strong>Email:</strong> <a href="mailto:hello@thesleep.co">hello@thesleep.co</a></p>
            <p><strong>Store:</strong> 55 Main St, Chicago</p>
            <p><strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco</a></p>
        </div>
    </footer>


    <!--------------------- Scripts go here -------------------->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Lightgallery for pop-ups  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>
    <!-- Custom js file -->
    <script src="/scripts.js"></script>
</body>
</html>